.LinkContainer {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 40%;
   min-height: 20vh;
   min-width: 40vw;
   border: 2px solid #fe6a16;
   border-radius: 25px;
   margin: 25px;
}

.LinkInfo {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.LinkInfo > * {
   color: lavenderblush;
}

.LinkContainer:hover {
   background-color: #2f2f47;
   cursor: pointer;
}

.addLink {
   background-color: red;
   width: 100px;
   height: 60px;
}

.LinkPreviewImg {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: #fe6a16;
}
