@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
   background-color: #1a1a2e;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family: "Rubik", sans-serif;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
   list-style: none;
}

li {
   color: lavenderblush;
   margin: 10px;
}

li:hover {
   cursor: pointer;
}

.appNav {
   position: absolute;
   top: 1px;
   left: 1px;
}
