.LinkContainer2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 40%;
   min-height: 20vh;
   min-width: 40vw;
   border: 2px solid #fe6a16;
   border-radius: 25px;
   margin: 60px;
   color: lavenderblush;
}

.LinkContainer2 > * {
   margin: 20px;
}

.returnButton {
   color: lavenderblush;
   background-color: #fe6a16;
   height: 40px;
   width: 200px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}

.returnButton:hover {
   cursor: pointer;
}

.LinkContainer3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}
