@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
body {
   background-color: #1a1a2e;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-family: "Rubik", sans-serif;
}

.App {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

ul {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
   list-style: none;
}

li {
   color: lavenderblush;
   margin: 10px;
}

li:hover {
   cursor: pointer;
}

.appNav {
   position: absolute;
   top: 1px;
   left: 1px;
}

.LinkContainer {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 40%;
   min-height: 20vh;
   min-width: 40vw;
   border: 2px solid #fe6a16;
   border-radius: 25px;
   margin: 25px;
}

.LinkInfo {
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.LinkInfo > * {
   color: lavenderblush;
}

.LinkContainer:hover {
   background-color: #2f2f47;
   cursor: pointer;
}

.addLink {
   background-color: red;
   width: 100px;
   height: 60px;
}

.LinkPreviewImg {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   background-color: #fe6a16;
}

.Logo {
   margin-top: 50px;
}

.Logo > img {
   width: 70px;
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.Logo > h2 {
   font-family: "Audiowide", cursive;
   color: lavenderblush;
}

.Logo > h3 {
   font-family: "Audiowide", cursive;
   color: lavenderblush;
}

a {
   text-decoration: none;
   color: lavenderblush;
}

.LinkContainer2 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   width: 40%;
   min-height: 20vh;
   min-width: 40vw;
   border: 2px solid #fe6a16;
   border-radius: 25px;
   margin: 60px;
   color: lavenderblush;
}

.LinkContainer2 > * {
   margin: 20px;
}

.returnButton {
   color: lavenderblush;
   background-color: #fe6a16;
   height: 40px;
   width: 200px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 100px;
}

.returnButton:hover {
   cursor: pointer;
}

.LinkContainer3 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-self: center;
}
